body {
    color: var(--hero-desc);
}

.container {
    padding: 20px 20px 0;
}

h1 {
    padding: 80px 20px 20px;
    border-bottom: 1px solid;
}

#wallpaperContent {
    margin-top: 0px;
}

.wallpaper-title {
    font-size: 2rem;
    margin-bottom: 10px;
}

.wallpaper-meta {
    color: var(--hero-desc);
    margin-bottom: 20px;
}

#wallpaperMeta {
    margin: 0;

}

.wallpaper-preview {
    max-width: 500px;
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
    margin-bottom: 20px;
}


.loading {
    font-size: 1.2rem;
    color: #ccc;
    margin: 20px;
}

.related-wallpapers-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: auto;
    margin-top: 15px;
}

.related-item {
    margin-bottom: 20px;
    width: calc(100% / 2 - 5px);
    position: relative;
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {
    .related-item {
        width: calc(100% / 3 - 7px);
    }
}

@media (min-width: 801px) {
    .related-item {
        width: calc(100% / 4 - 8px);
    }
}

@media (min-width: 901px) {
    .related-item {
        width: calc(100% / 5 - 8px);
    }
}

@media (min-width: 1051px) {
    .related-item {
        width: calc(100% / 6 - 9px);
    }
}






.related-thumb {
    object-fit: cover;
    top: 0;
    left: 0;
    width: 100%;
    height: 100% !important;
    border-radius: 10px;
    position: relative;
}

.related-title {
    display: block !important;
    margin-top: 5px;
    color: var(--hero-desc) !important;
    text-decoration: none;
}

.related-title:hover {
    text-decoration: underline;
}



.see-more-btn {
    margin-top: 10px;
    padding: 8px 16px;
    background: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

:root {
    --secondary-btn-bg: #dfe2ae4a;
    --secondary-btn-border: #00ff0020;
}

.dark-mode {
    --secondary-btn-bg: #292b104e;
    --secondary-btn-border: #00ff0020;
}

.collection-btn {
    display: flex;
    margin-top: 10px;
    padding: 10px 15px;
    border: 1px solid var(--secondary-btn-border);
    border-radius: 10px;
    width: 100%;
    background-color: var(--secondary-btn-bg);
    cursor: pointer;
}
